apiVersion: v1
kind: Secret
metadata:
  name: nuna-secrets
type: Opaque
stringData:
  POSTGRES_PASSWORD: "YOUR_POSTGRES_PASSWORD"
  INFLUXDB_ADMIN_PASSWORD: "YOUR_INFLUXDB_PASSWORD"
  GF_SECURITY_ADMIN_PASSWORD: "YOUR_GRAFANA_PASSWORD"
