apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

images:
- name: trading-bridge
  newName: us-central1-docker.pkg.dev/sharp-doodad-471511-s5/nuna-repo/trading-bridge
  newTag: latest

patches:
- target:
    kind: Deployment
    name: trading-bridge
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 2
